{namespace rn=RN\Rncontent\ViewHelpers}
<section class="container-wrapper">
	<div class="wrap">
		<div class="wrap__inner">
			<div class="grid-m-12 grid-s-12">
				<h2 class="o-align-center">{header}</h2>
				<p class="o-align-center">{subheader}</p>
			</div>
		</div>
		<f:render partial="Contact/Filter" arguments="{_all}" />
	</div>
</section>
<f:if condition="{contacts->f:count()}>0">
	<f:widget.paginate objects="{contacts}" as="paginatedContacts" configuration="{itemsPerPage: 5}">
		<f:render partial="Contact/List" arguments="{_all}" />
	</f:widget.paginate>
</f:if>