<div class="c-m-zip-filter">
        <f:form  id="zip-filter" section="zip-filter" noCacheHash="true">
        <span class="c-m-zip-filter__label"><f:translate key="LLL:EXT:theme_web/Resources/Private/Language/locallang.xlf:rncontacts.filter.location_near_by" /></span>
            <f:form.textfield name="zip" placeholder="PLZ" class="c-m-zip-filter__input" value="{f:if(condition: zip, then: zip)}" />
            <a href="javascript:;" onclick="parentNode.submit();" class="c-a-btn c-a-btn--display-block c-a-btn--background-dark c-a-btn--icon-highlight  c-a-btn--align-center" title="<f:translate key="LLL:EXT:theme_web/Resources/Private/Language/locallang.xlf:rncontacts.filter.submit" />" tabindex="0" data-icon="&#xe90e"><f:translate key="LLL:EXT:theme_web/Resources/Private/Language/locallang.xlf:rncontacts.filter.submit" /></a><div class="clear"></div>
        </f:form>
</div>

