<div class="c-m-alphabetic-filter" data-checkbox-checked="{filterParameter.letter_{letterID}}">
	<div class="c-a-checkbox c-a-checkbox--letter c-a-checkbox--all c-a-checkbox--bold" > <label>
		<f:form.radio name="letter_{letterID}" value="" />
		<span class="c-a-checkbox__label"><f:translate key="LLL:EXT:theme_web/Resources/Private/Language/locallang.xlf:rncontacts.filter.all" /></span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="A" />
		<span class="c-a-checkbox__label">A</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="B" />
		<span class="c-a-checkbox__label">B</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="C" />
		<span class="c-a-checkbox__label">C</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="D" />
		<span class="c-a-checkbox__label">D</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="E" />
		<span class="c-a-checkbox__label">E</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="F" />
		<span class="c-a-checkbox__label">F</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="G" />
		<span class="c-a-checkbox__label">G</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="H" />
		<span class="c-a-checkbox__label">H</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="I" />
		<span class="c-a-checkbox__label">I</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="J" />
		<span class="c-a-checkbox__label">J</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="K" />
		<span class="c-a-checkbox__label">K</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="L" />
		<span class="c-a-checkbox__label">L</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="M" />
		<span class="c-a-checkbox__label">M</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="N" />
		<span class="c-a-checkbox__label">N</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="O" />
		<span class="c-a-checkbox__label">O</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="P" />
		<span class="c-a-checkbox__label">P</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="Q" />
		<span class="c-a-checkbox__label">Q</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="R" />
		<span class="c-a-checkbox__label">R</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="S" />
		<span class="c-a-checkbox__label">S</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="T" />
		<span class="c-a-checkbox__label">T</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="U" />
		<span class="c-a-checkbox__label">U</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="V" />
		<span class="c-a-checkbox__label">V</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="W" />
		<span class="c-a-checkbox__label">W</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="X" />
		<span class="c-a-checkbox__label">X</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="Y" />
		<span class="c-a-checkbox__label">Y</span>
	</label> </div>
	<div class="c-a-checkbox c-a-checkbox--letter" > <label>
		<f:form.radio name="letter_{letterID}" value="Z" />
		<span class="c-a-checkbox__label">Z</span>
	</label> </div>
</div>